<%= simple_form_for :paypal_payment, :url => url_for(:action => 'create', :controller => 'paypal_payments'),
    :method => 'put' do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :amount, as: :decimal %>
  </div>

  <div class="form-actions">
    <%= f.button :button do %>
<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
    <% end %>
  </div>
<% end %>
