<h4>Mobile Makerpace Member Management</h4>

<p>Most functionality is currently restricted to site administrators. Makerspace members are sent an email invitation to join the site. Site users can view their subscription, dues balance, and other information.</p>
<p>Visit <%= link_to 'github.com/MobileMakerspace/flaming_alpha', "https://github.com/MobileMakerspace/flaming_alpha" %> to learn more about the project.</p>
<p>Visit <%= link_to "Mobile Makerspace", 'http://makerspacemobile.org' %> to join or learn more about the organization.</p>
