<h4>Flaming Alpha</h4>
<h5>Yet another makerspace management application</h5>
<p>Most functionality is currently restricted to site administrators.</p>
<p>Visit <%= link_to 'Flaming Alpha', "https://github.com/MobileMakerspace/flaming_alpha" %> to learn more about the project.</p>
