<div class="callout large primary">
  <div class="row column">
    <%= image_tag('/flaming_alpha.png', :class =>"float-center") %>
  </div>
  <div class="row column">
    <h3 class="text-center">Flaming Alpha</h3>
  </div>
</div>
<div class="row column">
  <% if user_signed_in? %>
    <% if current_user.try(:admin?) %>
      <%= render 'admin' %>
    <% else %>
      <%= render 'visitor' %>
    <% end %>
  <% else %>
    <%= render 'visitor' %>
  <% end %>
</div>
