<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
<p>
Flame by Daouna Jeong from the Noun Project
</p>
<p>Visit <%= link_to 'github.com/MobileMakerspace/flaming_alpha', "https://github.com/MobileMakerspace/flaming_alpha" %> to learn more about the project.</p>
<p>Visit <%= link_to "Mobile Makerspace", 'http://makerspacemobile.org' %> to join or learn more about the organization.</p>
