<% content_for :title do %>Wiki<% end %>
<h3>Create new wiki user</h3>
<p>
<ul>Create Account
  <li>Log in to the mediawiki as a ... </li>
  <li>Go to "Special Pages"</li>
  <li>Select "Create Account"</li>
  <li>Enter username <em>MUST BE ONE WORD, NO SPACES</em></li>
  <li>Enter email address</li>
  <li>Check email password</li>
  <li>Submit</li>
</ul>
</p>
