<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><%= link_to 'Home', root_path %></li>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <%= render 'layouts/nav_links_for_auth' %>
    </ul>
  </div>
</div>
