<%# add navigation links to this file %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Plans', plans_path %></li>
    <li><%= link_to 'Subscriptions', subscriptions_path %></li>
  <% end %>
<% end %>
<li><%= link_to 'About', page_path('about') %></li>
